.shared-header-main{
    position: relative;
    height: 500px;
    background-image: url("../../../Image/header.jpg");
    background-size: cover;
    z-index: 1;
   


}
.shared-header-main::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(6,0,15,0.6);
    top:0;
    left: 0;
    z-index: -1;
}
